h1 {
	text-align: center;
	margin-bottom: 30px
}

body {
	font-family: sans-serif;
	background-color: #eaeaea;
}

* {
	box-sizing: border-box;
}

.character {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 3px;
	list-style-type: none;
	padding: 10px 20px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: 'name image'
	'house image';
	text-align: left;
}

.character > h2 {
	grid-area: name;
	margin-bottom: 0px;
}

.character > p {
	grid-area: house;
	margin: 0;
	margin-top: -18px
}

.character > img {
	grid-area: image;
	max-height: 100px;
}

#recipeList {
	text-align: left;
	padding-inline-start: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px
}

#searchWrapper {
	text-align: center;
}

#searchBar {
	width: 75%;
	margin: auto;
}
