ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #eaeaea;
}

#recipeList {
	text-align: left;
	padding-inline-start: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px
}

#searchWrapper {
	text-align: center;
}

#searchBar {
	width: 75%;
	margin: auto;
}

.Recipe {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 3px;
	list-style-type: none;
	padding: 10px 10px 10px 10px;
	display: grid;
	text-align: left;
}
